* {
  box-sizing: border-box;
}

.container {
  text-align: center;
  margin: 0 auto;
}

section .container {
  width: 624px;
}

.header__social {
  position: absolute;
  top: 25px;
  left: 160px;
}

.social-icon, .footer-icon {
  margin: 7px;
  font-size: 25px;
}

.header__logo {
  padding-top: 30px;
  padding-bottom: 40px;
}
.logo__img {
  width: 400px;
}

.menu__list-item {
  display: inline-block;
  margin: 5px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-submenu ul.menu__list {
  background-color: #333;
}

.menu-main ul.menu__list {
  color: #333;
}

ul.menu__list  {
  border-bottom: 1px solid #6A6A6A;
}

.menu-main ul.menu__list li a,
.menu-submenu ul.menu__list li a,
.menu ul.menu__list li a {
  text-align: center;
  text-decoration: none;
  font-size: 15px;

}

.menu-submenu ul.menu__list li a {
  color: white;
  font-size: 15px;
}

ul.menu__list {
  padding: 10px;
}

.menu__link {
  text-transform: uppercase;

}

hr {
  width: 100px;
}

a {
  color: inherit;
  font-size: 20px;
  text-decoration-color: #D5A031;

}

p {
  display: block;
  text-align: justify;
  line-height: 1.5;

}

.description__title {
  margin: -22px 0 0 0;
  padding: 0;
  padding-top: 40px;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
}

.description__date {
  padding: 20px;
  font-size: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.main__title {
  font-size: 25px;
  margin: 50px;
}

.text.main__title {
  border-top: 2px solid #AFAFAF;
  border-bottom: 2px solid #AFAFAF;
  padding: 20px 0px 20px 0px;
}
.main__text, .description__text {
  font-size: 18px;

}
.content-image {
  width: 620px;
  height: 900px;
}

.recomendation {
  line-height: 40px;
}

.recomendation__article {
  text-align: left;
}
.recomendation__article-description {
  font-weight: bold;
}

.footer {
  background-color: #2F2F2F;
  height: 300px;
  color: white;
}

.footer__socials {
  text-align: center;
  padding: 40px;
}

.footer__copy {
  text-align: left;
  padding-left: 90px;
  padding-top: 50px;
  font-size: 15px;
  color: #6A6A6A;
  border-top: 1px solid #6A6A6A;
}
