* {
  box-sizing: border-box;
}

.container {
  text-align: center;
  margin: 0 auto;
}

section .container {
  width: 624px;
}

.header__social {
  position: absolute;
  top: 25px;
  left: 160px;
}

.social-icon {
  margin: 7px;
}
.header__logo {
  padding-top: 30px;
}
.logo__img {
  width: 400px;
}

.menu__list-item {
  display: inline-block;
  margin: 5px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-submenu ul.menu__list {
  background-color: #333;
}

.menu-main ul.menu__list {
  color: #333;
}

.menu-submenu ul.menu__list li a {
  text-align: center;
  text-decoration: none;
}

.menu-submenu ul.menu__list li a {
  color: white;
}

hr {
  width: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  display: block;
  text-align: justify;
  line-height: 1.5;
}

.description__title {
  margin: -22px 0 0 0;
  padding: 0;
  padding-top: 40px;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
}

.description__date {
  padding: 20px;
  font-size: 13px;
  font-family: serif;

}

.main__title {
  font-size: 25px;
  margin: 50px;
}

.text.main__title {
  border-top: 2px solid #AFAFAF;
  border-bottom: 2px solid #AFAFAF;
  padding: 20px 0px 20px 0px;
}
.main__text, .description__text {
  font-size: 18px;

}
.content-image {
  width: 620px;
  height: 900px;
}
